[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansiscape = "~=1.0"
boto3 = "~=1.18"
cfp = "==1.0.0a3"
pyyaml = "~=6.0"
stackdiff = "~=1.1"
stackwhy = "~=1.0.1"

[dev-packages]
black = "==21.9b0"
boto3-stubs = {extras = ["cloudformation"], version = "*"}
flake8 = "*"
isort = "*"
mock = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
shellcheck-py = "*"
twine = "*"
types-mock = "*"
types-pyyaml = "*"
yamllint = "*"

[requires]
python_version = "3.10"
